/**
/*	Header
/* ==========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;

    background-color: rgba(0,0,0,.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}

#navigation.animated-header {
    padding: 20px 0;
}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}


.logo{
  margin-top: -30px;
}

.center{
  margin: auto;
}


/* ================ Services Section ================ */
#section-services {
	position:relative;
	background-color: black;
	color: #e5e5e5;
}

.container.services {
	padding-top: 120px;
	padding-bottom: 72px;
}


.service {
	padding-bottom: 48px;
}

.service-icon {
	float:left;
	width: 30%;
}

.service-desc {
	display:table;
}

.service-desc h4 {
	margin-top: 0;
}

#workflow{
  background-color: #333;
  color: white;
}


.border{
  border-bottom: 1px solid white;
}

.borderblack{
  border-bottom: 1px solid black;
}

.imgcenter{
  margin: auto;
}

#aboutus{
  background-color: #333;
  color: white;
}

#footer{
  background-color: #333;
  color: white;
}

.footimage{
  padding-left: 30px;
  padding-right: 30px;
}



.automargin{
  margin: auto;
}
